[alias]
	plog = log --graph --oneline --decorate --date=relative --all
	unadd = reset HEAD --
  uncommit = reset HEAD~
	last = log -1 HEAD
  alias = config --get-regexp alias
[user]
	email = nicolas.sabbatini.95@gmail.com
	name = Nicolas Sabbatini
[init]
	defaultBranch = main
